/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 1% 0;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  text-transform: uppercase;
}
nav ul li {
  display: flex;
}
nav ul li #pink {
  color: #F09B9B;
}
nav ul li a {
  text-decoration: none;
  align-self: center;
  color: #73CEC5;
}
nav ul li a:hover {
  color: #F09B9B;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  max-width: 100%;
  line-height: 1.4;
}
.container header {
  display: flex;
  flex-direction: column;
}
.container header div {
  display: flex;
  align-self: center;
}
.container header div {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 40%;
}
.container header div h2 {
  padding: 2% 0%;
  color: #F09B9B;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.container section {
  display: flex;
  flex-direction: column;
}
.container section div {
  align-self: center;
}
.container section div {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 40%;
}
.container section div h2 {
  padding: 2% 0%;
  color: #73CEC5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.container section div div {
  background-color: #73CEC5;
  padding: 1% 5%;
  width: 20%;
}
.container section div div a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.container footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  line-height: 2;
  font-size: 80% ;
  padding: 3%;
}
