/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 1% 0;
  background-color: #f2f7f8;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    padding: 0;
  }
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  nav ul {
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  nav ul {
    border-top: 1px solid white;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
nav ul li {
  display: flex;
}
@media (max-width: 500px) {
  nav ul li {
    border-bottom: 1px solid white;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}
nav ul li #pink {
  color: #F09B9B;
}
nav ul li a {
  text-decoration: none;
  align-self: center;
  color: #73CEC5;
  font-size: 100%;
}
@media (max-width: 500px) {
  nav ul li a {
    margin: 3%;
    font-size: 70%;
  }
}
nav ul li a:hover {
  color: #F09B9B;
}
@media (max-width: 500px) {
  nav ul li a img {
    display: none;
  }
}
body,
html {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  max-width: 100%;
  line-height: 1.4;
}
.container header {
  display: flex;
  flex-direction: column;
}
.container header div {
  display: flex;
  align-self: center;
}
.container header img {
  width: 100%;
}
.container header div {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 40%;
}
@media (max-width: 800px) {
  .container header div {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .container header div {
    width: 98%;
    font-size: 80%;
  }
}
.container header div h2 {
  padding: 2% 0%;
  color: #F09B9B;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container header div h2 {
    font-size: 1em;
    text-align: center;
    padding: 0;
    padding-bottom: 3%;
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container header div p {
    padding: 0 2%;
  }
}
.container section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container section {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.container section img {
  width: 100%;
}
.container section div {
  align-self: center;
}
.container section div {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 40%;
}
@media (max-width: 800px) {
  .container section div {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .container section div {
    width: 98%;
    font-size: 80%;
  }
}
.container section div h2 {
  padding: 2% 0%;
  color: #73CEC5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .container section div h2 {
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container section div p {
    padding: 4% 2%;
  }
}
.container section div div {
  background-color: #73CEC5;
  padding: 1% 5%;
  width: 20%;
}
@media (max-width: 500px) {
  .container section div div {
    width: 60%;
    font-size: 1.2em;
  }
}
.container section div div a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.container footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  line-height: 2;
  font-size: 80%;
  padding: 3%;
}
.container footer nav {
  background-color: black;
}
@media (max-width: 500px) {
  .container footer nav {
    padding: 1% 0;
  }
}
@media (max-width: 500px) {
  .container footer nav ul {
    width: 100%;
    flex-direction: row;
    border: none;
  }
}
@media (max-width: 500px) {
  .container footer nav ul li a img {
    display: initial;
    max-width: 80%;
  }
}
.about.top {
  background-color: rgba(224, 109, 82, 0.7);
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 7%;
  /* The image used */
  background-image: url("https://cdn.discordapp.com/attachments/540797530632617994/674377039993765908/marble_transparent.png");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  .about.top {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .about.top {
    width: 100%;
  }
}
.about.top h2 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  font-size: 4em;
}
@media (max-width: 800px) {
  .about.top h2 {
    font-size: 2em;
  }
}
.about.top ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  border: ;
  align-items: center;
  margin: auto;
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
}
@media (max-width: 800px) {
  .about.top ul {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .about.top ul {
    flex-direction: column;
    width: 100%;
  }
}
.about.top ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: ;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  background-color: rgba(224, 109, 82, 0.7);
  margin-top: 1%;
  padding: 4% 1%;
}
@media (max-width: 800px) {
  .about.top ul li {
    max-height: 50vh;
    flex-wrap: wrap;
    padding: 5%;
    margin: auto;
    width: 39%;
    margin-top: 1%;
  }
}
@media (max-width: 500px) {
  .about.top ul li {
    width: 100%;
    padding: 3% 0;
  }
}
.about.top ul li h6 {
  color: #f2f7f8;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5% 0;
  padding-bottom: 0;
}
.about.top ul li h7 {
  color: rgba(251, 255, 0, 0.692);
  font-style: italic;
  margin-bottom: ;
  margin-top: 0;
}
.about.top ul li a {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  border: ;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 800px) {
  .about.top ul li a {
    max-height: 20vh;
  }
}
.about.top ul li a img {
  display: flex;
  flex-direction: column;
  width: initial;
  margin: 1% 0%;
  border-radius: 100%;
  width: 80%;
}
@media (max-width: 800px) {
  .about.top ul li a img {
    max-height: 50vh;
    max-width: 100%;
    border-radius: 10%;
  }
}
.about.top ul li a #git {
  display: flex;
  width: 45%;
  border-radius: initial;
}
@media (max-width: 800px) {
  .about.top ul li a #git {
    width: 50%;
  }
}
.about.top ul li a #Dessa {
  display: flex;
  width: 45%;
  border-radius: initial;
}
@media (max-width: 800px) {
  .about.top ul li a #Dessa {
    width: 50%;
    margin-bottom: 8%;
    margin-top: 6%;
  }
}
.about.top ul li p {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 98%;
  text-align: center;
  text-justify: inter-character;
  font-size: 80%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .about.top ul li p {
    max-height: 20vh;
    font-size: 80%;
    text-align: center;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about.top ul li p {
    font-size: 1.3em;
  }
}
.about.top ul li p a {
  color: rgba(251, 255, 0, 0.692);
}
