.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: 100%;

    line-height: 1.4;



    header {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            align-self: center;
        }

        img {
            width: 100%;
        }

        div {
            display: flex;
            flex-direction: column;
            margin: 3%;
            width: 40%;

            @media @tablet {
                width: 70%
            }

            @media @mobile {
                width: 98%;
                font-size: 80%;
            }

            h2 {
                padding: 2% 0%;
                color: #F09B9B;
                font-family: @font;
                font-weight: bolder;

                @media @mobile {
                    font-size: 1em;
                    text-align: center;
                    padding: 0;
                    padding-bottom: 3%;
                    margin: 0;
                    width: 100%;
                }
            }

            p {
                @media @mobile {
                    padding: 0 2%;
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;

        @media @mobile {
            padding: 0;
            margin: 0;
            width: 100%;
        }

        img {
            width: 100%;
        }

        div {
            align-self: center;
        }

        div {
            display: flex;
            flex-direction: column;
            margin: 3%;
            width: 40%; //

            @media @tablet {
                width: 70%;
            }

            @media @mobile {
                width: 98%;
                font-size: 80%;
            }

            h2 {
                padding: 2% 0%;
                color: #73CEC5;
                font-family: @font;
                font-weight: bolder;

                @media @mobile {
                    font-size: 1em;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                   
                }

            }

            p {
                @media @mobile {
                    padding: 5% 2%;
                }
            }

            div {
                background-color: #73CEC5;
                padding: 1% 5%;
                width: 20%;

                @media @mobile {
                    width: 60%;
                    font-size: 1.2em;
                }

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }
            }
        }


    }

    footer {
        background-color: black;
        color: whitesmoke;
        text-align: center;
        line-height: 2;
        font-size: 80%;
        padding: 3%;

        nav {
            background-color: black;

            @media @mobile {
                padding: 1% 0;
            }

            ul {

                @media @mobile {
                    width: 100%;
                    flex-direction: row;
                    border: none;
                }

                li {
                    a {

                        
                        img {

                            @media @mobile {
                                display: initial;
                                max-width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}