.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: 50%;
    border: 2px solid red;
    line-height: 1.5;

    header {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            align-self: center;
        }

        div {
            display: flex;
            flex-direction: column;
            margin: 3%;

            h2 {
                padding: 2% 0%;
            }
        }
        }

        section {
            display: flex;
            flex-direction: column;

            div {
                align-self: center;
            }

            div {
                display: flex;
                flex-direction: column;
                margin: 3%;

                h2 {
                    padding: 2% 0%;
                }
            }


        }

        footer {
            background-color: black;
            color: whitesmoke;
            text-align: center;
            line-height: 2;
            font-size: 80% ;
        padding: 3%;       }
}

