// Color assignments
// TO-DO - Assign colors here to easily style for consistently
@font-color: @maire;

// Color palette 
@maire: #21211A;
@prussian-blue: #012B4D;
@puerto-rico: #41B3A3;
@grey-nurse: #D8D9D1;
@corvette: #E8A87C;